:local {

    .loader {
        width: 20px;
        height: 20px;
        stroke: #fff;
        overflow: hidden;

        &__circle {
            stroke-opacity: 0.5;
        }

        & > g {
            stroke-width: 3px;
            stroke: #fff;
            fill: none;
        }

    }
}
