:local {

    .loader {
        width: 30px;
        height: 30px;
        stroke: #e0e9e3;
        overflow: hidden;

        &__circle {
            stroke-opacity: 0.2;
        }

        & > g {
            stroke-width: 3px;
            stroke: #2a7355;
            fill: none;
        }

    }
}
