:local {

    .home {
        padding: 40px;
        max-width: 600px;
        margin: 0 auto;

        &__input {
            padding: 1px;
        }

        &__pending {
            display: flex;
            align-items: center;
            margin: 10px 0;
            background: #fff6da;
            padding: 10px;
        }

        &__loader {
            margin-right: 10px;
        }
    }
}
